
body
  margin 0px
  font-family "wenquanyi micro hei mono", monaco, monospace
  // overflow hidden
  background black
  color hsl(60,80,40)
  display -webkit-flex
  -webkit-flex-flow row

*
  box-sizing border-box
  -moz-box-sizing border-box
  // box-shadow 0px 0px 4px hsl(0,0,80)

.column
  white-space nowrap
  letter-spacing 0px
  line-height 20px
  -webkit-writing-mode vertical-rl
