body {
  margin: 0px;
  font-family: "wenquanyi micro hei mono", monaco, monospace;
  overflow: hidden;
  background: #1f141a;
  color: #fff;
  display: -webkit-flex;
  -webkit-flex-flow: row;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.line {
  width: 20px;
}
.line .cell {
  width: 20px;
  height: 20px;
  font-size: 13px;
}
